.under-construction-banner {
	background-image: url(/static/under_construction_moving.gif);
	background-repeat: repeat-x;
	background-size: contain;
	image-rendering: pixelated;
	width: 100%;
	height: 5%;
	position: fixed; 
	left: 0;
}
/* here instead of inline because CSP + I can't be bothered with nonces */
.top { top:0; }
.bottom { bottom:0; }

body {
	width: 100%;
	height: 100%;
	background-image: url(/static/bg.gif); 
	background-repeat: repeat;
	image-rendering: pixelated;
	overflow: hidden;
	margin: 15vh 0;
}

@media (orientation: portrait) {
	section#terminal {
		width: 80%;
	}
}

@media (orientation: landscape) {
	section#terminal {
		width: 50%;
	}
}

section#terminal {
	height: 50vh;
	background: #000;

	padding: 0.5em 1em;
	margin: 0 auto;

	outline: none;
	border: 1.5px solid;
        border-image: linear-gradient(to bottom right, #33ccff, #cc33ff) 1;
	box-shadow: 0 0 10px #9ecaed;

	overflow-y: scroll;
}

p.unspaced {
	line-height: 0;
}
p.terminal-line {
	color: #fff;
	/*text-align: center;*/

	font-family : Fira Code, monospace;
	font-size   : 12pt;

	text-shadow : 0 0 6px white;
}
