.under-construction-banner {
	background-image: url(/static/under_construction_moving.gif);
	background-repeat: repeat-x;
	background-size: contain;
	image-rendering: pixelated;
	width: 100%;
	height: 5%;
	position: fixed; 
	left: 0;
}
/* here instead of inline because CSP + I can't be bothered with nonces */
.top { top:0; }
.bottom { bottom:0; }

body {
	width: 100%;
	height: 100%;
	background-image: url(/static/bg.gif); 
	background-repeat: repeat;
	image-rendering: pixelated;
	overflow: hidden;
}
