/* banners */
.under-construction-banner {
	background-image: url(/static/under_construction_moving.gif);
	background-repeat: repeat-x;
	background-size: contain;
	image-rendering: pixelated;

	width: 100%;
	height: 5%;

	position: fixed; 
	left: 0;
}
/* here instead of inline because CSP + I can't be bothered with nonces */
.top { top:0; }
.bottom { bottom:0; }

/* main */
body {
	width: 100vw;
	height: auto;

	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;

	background-image: url(/static/bg.gif); 
	background-repeat: repeat;
	background-attachment: fixed;
	image-rendering: pixelated;
}


/* window stuff */
@media (orientation: portrait) {
	body {
		margin: 7vh 0;
	}
	.window { width: 80%; }
}
@media (orientation: landscape) {
	body {
		margin: 10vh 0;
	}
	.window { width: 53%; }
}
.window {
	background: #000;

	padding: 0em;
	margin: 2em auto;

	outline: none;
	border: 1.5px solid;
        border-image: linear-gradient(to bottom right, #33ccff, #cc33ff) 1;
	box-shadow: 0 0 10px #9ecaed;
}

/* terminal */
ul#terminal {
	height: 45vh;
	margin: 1em;

	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;

	color: #fff;
	text-shadow: 0 0 6px white;

	font-family: monospace;
	font-size: 12pt;

	list-style-type: none;
	padding-left: 0;
}
li.spaced {
	margin: 0.8em 0;
}

/* badges */
footer.window {
	text-align:center;
	color: #fff;
	height: auto;
	padding: 1em;
	box-sizing: border-box;
}
.badge-link {
	image-rendering: pixelated;
}

a.footer { text-decoration: none; }
p.footer {
	color: #fff;
	text-shadow: 0 0 3px white;

	padding: 0;
	margin: 1em 0 0 0;

	font-family: monospace;
	font-size: 8pt;
}
