:root {
  --fb-bg: #000;
  --fb-fg: #ddd;

  --cyan: #33ccff;
  --pink: #cc33ff;
}

/***  "hardware"  ***/
@font-face {
  font-family: custom-tty;
  src: url(/boot/WebPlus_IBM_VGA_8x16.woff);
  /* https://int10h.org */
}
body {
	width: 100%;
	height: 100%;

	font-family: custom-tty, monospace;
	font-size: 16px;
	line-height: 16px;

	margin: 0;
	padding: 0;
	overflow: hidden;

	color: var(--fb-fg);
	background-color: var(--fb-bg);
}

/***  bootloader  ***/
div.bootmenu {
	height: fit-content;
	min-width: fit-content;
	width: 35%;

	overflow: visible;
	margin: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.bootmenu > ul {
	margin: 1em;
	text-align: center;
	white-space: nowrap;

	list-style-type: none;
	padding-left: 0;
}

.selected {
	color: var(--fb-bg);
	background-color: var(--fb-fg);
}

/***  kernel  ***/
div#framebuffer {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}
ul[id^='tty'], p#early-printk {
	overflow: hidden; /* TTYs don't scroll, sorry :c */
	overflow-wrap: anywhere;
	white-space: pre-wrap;

	font-family: custom-tty, monospace;
	font-size: 16px;
	line-height: 16px;

	list-style-type: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#cursor {
	color: var(--fb-bg);
	background-color: var(--fb-fg);
}

input#dummy-input {
	position: fixed;
	left: -200vw;
}

/***  userspace ***/
/* TODO: make a cssfs driver? */
#ui-root {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;

	white-space: normal;

	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;

	background-image: url(/www/img/bg.gif); 
	background-repeat: repeat;
	background-attachment: fixed;
	image-rendering: crisp-edges;
}

/* banners */
.under-construction-banner {
	background-image: url(/www/img/under_construction_moving.gif);
	background-repeat: repeat-x;
	background-size: contain;
	image-rendering: crisp-edges;

	width: 100%;
	height: 5%;

	position: fixed; 
	left: 0;
}

/* here instead of inline because CSP + I can't be bothered with nonces */
.top { top:0; }
.bottom { bottom:0; }

/* window stuff */
@media (orientation: portrait) {
	.floating {
		margin: 7vh auto;
		width: 80%; 
	}
	.drawer {
		width: 80%;
		right: calc(1.5pt - 80%);
	}
}
@media (orientation: landscape) {
	.floating {
		margin: 10vh auto;
		width: 53%; 
	}
	.drawer {
		width: 30%;
		right: calc(1.5pt - 30%);
	}
}
.window {
	background: #000;

	padding: 1em 1em 0 1em;
	margin: 2em auto;

	outline: none;
	border: 1.5pt solid;
	border-image: linear-gradient(to bottom right, var(--cyan), var(--pink)) 1;
	box-shadow: 0 0 2pt #9ecaed;
	box-sizing: border-box;
}

.drawer {
	height: 80vh;
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	transition: 0.3s;
	padding-left: 5em;
}
.drawer:hover, .drawer:focus, .drawer:active {
	right: 0;
}
.drawer > .window {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}
.drawer > .window > article {
	background: var(--fb-bg);
	width: calc(100% - 2em);
	height: calc(100% - 1em);
	padding: 1em 1em 0 1em;
}
.drawer-handle {
	min-width: 1em;
	width: 1em;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
}

/* main */
.cyan { color: var(--cyan); }
.pink { color: var(--pink); }
.center-evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.center-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.center-left {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.pre { white-space: pre; }
.hide-overflow { overflow: hidden; }
.left-overflow {
	display: flex;
	justify-content: flex-end;
}
.half-width { width: 50%; }

.link { color: var(--pink); }
.link:hover { color: var(--cyan); }

.list-none {
	list-style: none;
	padding: 0.5em;
}
.list-none > li { margin: 0.25em 0; }

article { padding: 0; margin: 0; }
article > p { padding-left: 0.5em; }
iframe#tunes {
	padding: 0;
	margin: 1em 0;
	height: 90%;
	width: 100%
}

/* footer */
footer.window {
	text-align: center;
	color: var(--fb-fg);
	height: auto;
	padding: 1em;
}

a.footer, .badge-link { text-decoration: none; }
p.badges {
	line-height: 0;
	font-size: 0;
}

p.footer {
	color: var(--fb-fg);
	padding: 0;
	margin: 0;
}
