/* banners */
.under-construction-banner {
	background-image: url(/www/img/under_construction_moving.gif);
	background-repeat: repeat-x;
	background-size: contain;
	image-rendering: pixelated;

	width: 100%;
	height: 5%;

	position: fixed; 
	left: 0;
}
/* here instead of inline because CSP + I can't be bothered with nonces */
.top { top:0; }
.bottom { bottom:0; }

/* main */
@font-face {
  font-family: custom-tty;
  src: url(/www/fonts/WebPlus_IBM_VGA_8x16.woff);
  /* https://int10h.org */
}
body {
	width: 100vw;
	height: auto;

	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;

	background-image: url(/www/img/bg.gif); 
	background-repeat: repeat;
	background-attachment: fixed;
	image-rendering: pixelated;
}


/* window stuff */
@media (orientation: portrait) {
	body {
		margin: 7vh 0;
	}
	.window { width: 80%; }
}
@media (orientation: landscape) {
	body {
		margin: 10vh 0;
	}
	.window { width: 53%; }
}
.window {
	background: #000;

	padding: 0em;
	margin: 2em auto;

	outline: none;
	border: 1.5pt solid;
        border-image: linear-gradient(to bottom right, #33ccff, #cc33ff) 1;
	box-shadow: 0 0 10pt #9ecaed;
}

/* terminal */
input#dummy-input {
	position: fixed;
	left: -200vw;
}
ul#terminal {
	height: 45vh;
	margin: 1em;

	overflow-x: hidden;
	overflow-y: scroll;
	overflow-wrap: break-word;
	overscroll-behavior: none;

	color: #eee;
	/*text-shadow: 0 0 6pt white;*/

	font-family: custom-tty;
	font-smooth: never;
	font-size: 12pt;

	list-style-type: none;
	padding-left: 0;

}
ul#terminal > li {
	white-space: pre-wrap;
	min-height: 1em
}
ul#terminal > li.nowrap {
	white-space: pre;
}
ul#terminal > li.spaced {
	margin: 0.8em 0;
}

span#cursor.s {
	color: #000;
	background-color: #fff;
	/*box-shadow: 0 0 5pt white*/
}

span.cyan { color: #33ccff; }
span.blue { color: #3d5bf5; }
span.red { color: #b6193c; }

/* badges */
footer.window {
	text-align:center;
	color: #fff;
	height: auto;
	padding: 1em;
	box-sizing: border-box;
}
.badge-link {
	image-rendering: pixelated;
}

a.footer { text-decoration: none; }
p.footer {
	color: #fff;
	/*text-shadow: 0 0 3pt white;*/

	padding: 0;
	margin: 0;

	font-family: custom-tty;
	font-smooth: never;
	font-size: 11pt;
}
.inc-button { background: url(//incr.easrng.net/bg.gif) }
